.paginationContainer{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.sizePerPage{
    min-width: 100px;
}